{% extends 'tour_route/base.html' %}
{% block title %}
    {{ hotel.name }}
{% endblock %}
{{% block content %}
<br>
{% if hotel.image %}
    <div class="text-center">
        <img class="rounded" src="{{ hotel.image.url }}" width="70%" height="450">
    </div>
{% endif %}
<br>
<div class="container-fluid">
    <div class="row">
            <div class="col-md-2">
            </div>

        <div class="col-md-8" style="background-color: white">
            <div class="text-center">
                <h2>{{ hotel.name }}</h2>
                <p class="text-monospace">
                    {{ hotel.description }}
                </p>
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>
{% endblock %}